<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean id="t1" class="kr.hs.study.beans.TestBean" lazy-init="true" />

	<!-- 생성자 주입 -->
	<!-- type은 매개변수 type -->
	<!-- index는 동일한 type의 매개변수가 여려개일때 해당 매개변수의 위치 지정 -->
	<bean id="t2" class="kr.hs.study.beans.TestBean" lazy-init="true">
		<constructor-arg value="10" type="int" />
	</bean>

	<bean id="t3" class="kr.hs.study.beans.TestBean" lazy-init="true">
		<constructor-arg value="22.22" type="double" />
	</bean>

	<bean id="t4" class="kr.hs.study.beans.TestBean" lazy-init="true">
		<constructor-arg value="spring3"
			type="java.lang.String" />
	</bean>

	<bean id="t5" class="kr.hs.study.beans.TestBean" lazy-init="true">
		<constructor-arg value="40" type="int" index="0" />
		<constructor-arg value="44.44" type="double" index="1" />
		<constructor-arg value="spring4" type="java.lang.String" index="2" />
	</bean>

	<!-- 매개변수가 참조형일 경우(ex. 객체, 배열) -> constructor-arg내에 객체 생성 설정을 작성해주어야한다.-->
	<!-- id가 없으면 spring에서 임의로 id를 만들어준다. -->
	
	<!-- 방법1. 익명으로 객체 만들어 보내기 -->
	<bean id="t6" class = "kr.hs.study.beans.TestBean2" lazy-init= "true">
		<constructor-arg>
			<bean class="kr.hs.study.beans.DataBean"/>
		</constructor-arg>
		<constructor-arg>
			<bean class="kr.hs.study.beans.DataBean"/>
		</constructor-arg>
	</bean>
	
	<!-- 방법2. 미리 생성해 놓은 객체를 주입시키기 -->
	<bean id = "d1" class = "kr.hs.study.beans.DataBean"/>
	
	<bean id="t7" class="kr.hs.study.beans.TestBean2" lazy-init="true">
		<constructor-arg ref="d1"/>	<!-- 같은 객체를 참조하므로 두 객체는 주소가 같다. -->
		<constructor-arg ref="d1"/>
	</bean>
</beans>